body{
  background-color: #333;
}

.container {
    width: 90%;
    overflow: hidden;
    margin: auto;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box-item{
  width: 24%;
  height: 350px;
  /* background-color: yellow; */
  margin-bottom: 20px;
  transition: .3s ease;
  cursor: pointer; 
 }
.box-item .image{
  width: 100%;
  height: 60%;
  background-color: 	#96ceb4;
  overflow: hidden;  
}
.box-item .image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.box-item:hover{
  transform: scale(1.03);
}

.box-item .des{
  width: 100%;
  height: 40%;
  background-color: #ffeead;
}
.box-item .des p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 14px;
  margin-top: 0;
}